#container{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;
    color: black;
    width: 500px;
    min-height: 500px;
    align-items: center;
    margin: auto;
    background-color: #f3f3f3;
}
.container{
    width: 250px;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 5px 3px #dbd0d0;
}

.container-questions{
    display: flex;
    justify-content: space-between;
}
.anw{
    font-weight: 600;
    margin: 10px 0;
    font-style: oblique;
    font-size: 15px;
    font-family: sans-serif;
}
.ques{
    font-family:  sans-serif;
    font-weight: 300;
}
